<h1><%= @sub.title %></h1>

<% if @sub.description%>
    <strong><p>Description</p></strong>
    <p><%= @sub.description %></p>
<% end %>

<form action="<%= new_post_url %>" method="GET">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>Make New Post!
    </button>
</form>
<ul>
    <li>
        <% @sub.posts.each do |post| %>
            <a href="<%= post_url(post) %>"><%= post.title  %></a>
        <% end %>
    </li>
</ul>