<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Sign Out</button>
    <% else %>
     <form action="<%= new_session_url %>" method="GET">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Sign In</button>
    <% end %>


    <%= yield %>
  </body>
</html>
